
<form class="container">
    <div>
      <h2>{{ action }}</h2>
    </div>
    <div class="row">
      <div class="col-6 mb-2">
        <input #name="ngModel" type="text" class="form-control" id="name" name="name" 
          placeholder="Name"
          [(ngModel)]="product.name" 
          [ngClass]="{ 
            'is-invalid': name.invalid && name.touched,
            'is-valid': name.valid && name.touched
          }" 
          required 
        />
      </div>
      <div class="col-6 mb-2">
        <input #description="ngModel" type="text" class="form-control" id="description" name="description" 
          placeholder="Description"
          [(ngModel)]="product.description" 
          [ngClass]="{ 
            'is-invalid': description.invalid && description.touched,
            'is-valid': description.valid && description.touched
          }" 
          required 
        />
      </div>
      <div class="col-6 mb-2">
        <input #price="ngModel" type="text" class="form-control" id="price" name="price" 
          placeholder="Price"
          [(ngModel)]="product.price" 
          [ngClass]="{ 
            'is-invalid': price.invalid && price.touched,
            'is-valid': price.valid && price.touched
          }" 
          required 
        />
      </div>
      <div class="col-6 mb-2">
        <input #stockQuantity="ngModel" type="text" class="form-control" id="stockQuantity" name="stockQuantity" 
          placeholder="In stock"
          [(ngModel)]="product.stockQuantity" 
          [ngClass]="{ 
            'is-invalid': stockQuantity.invalid && stockQuantity.touched,
            'is-valid': stockQuantity.valid && stockQuantity.touched
          }" 
          required 
        />
      </div>
      <div class="col-6 mb-2">
        <input #category="ngModel" type="text" class="form-control" id="category" name="category" 
          placeholder="Category"
          [(ngModel)]="product.category" 
          [ngClass]="{ 
            'is-invalid': category.invalid && category.touched,
            'is-valid': category.valid && category.touched
          }" 
          required 
        />
      </div>
      <div class="col-6">
        <button
        (click)="callEvent();"
        type="button"
        class="btn btn-primary d-flex align-items-center">
        <p class="mb-0"> {{action}} </p>
      </button>
      </div>
    </div>
  </form>